*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 300px;
    width: 300px;
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding: 50px;
    background-color: bisque;
    border-radius: 20px;
    border: 2px solid black;
}

input{
    border-radius: 30px;
    height: 45px;
    margin-top: 10px;
    text-align: center;
    width: 300px;
    border: 2px solid black;
    font-size: 18px;
}

h1{
    text-align: center;
    margin-bottom: 10px;
}

.login-button{
    margin-top: 20px;
    padding-top: 10px;
    border: 2px solid black;
    width: 200px;
    height: 80px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    background-color: aliceblue;
    cursor: pointer;
    transition: 0.6s;
    text-align: center;
    text-decoration: none;
    color: black;
}

.login-button:hover{
    background-color: rgb(254, 198, 125);
    transition: 0.6s;
}